<template name="CreateIntegration">
    <div class="bloc  l-bloc" id="bloc-2">
        <div class="container bloc-lg">
            <div class="row">
                <h2>New integration:</h2>

                <form>
                    <input type="text" id="integrationName" placeholder="Name your integration!"/>
                    <input type="text" id="integrationDescription"
                           placeholder="Describe your integration! Ex.: °C in reception area"/>
                    <input type="submit" id="createIntegration" value="Save integration"/>

                    <label for="integrationID">REST endpoint:</label>
                    <input type="text" id="integrationID" placeholder="Save integration, get endpoint!"/>
                </form>
            </div>
        </div>
    </div>
</template>