<template name="Dashboard">
    <div id="container">
        {{#each layout}}
            <div class="item half temp flexbox-container" data-container="{{container}}">
                <ul>
                    <li class="icon"
                        style="font-weight: 200; font-size: 5em; color: rgb(255, 165, 0); text-align: center;">{{integration.integrationData}}</li>
                    <li style="font-size: 1.5em; color: rgb(255, 165, 0); font-weight: bold;">{{integration.integrationDescription}}</li>
                </ul>
            </div>
        {{/each}}
    </div>
</template>