<template name="Home">

    <div class="bloc  l-bloc" id="bloc-2">
        <div class="container bloc-lg">
            <div class="row">

                <h1>Welcome</h1>
            </div>
        </div>
    </div>

    <!--    <input type="text" id="value" name="value" placeholder="Value"/>
        <button id="updateValue">Click Me</button>-->
    <!--
    {{getLatestValueForIntegration}}
-->
    <!--    {{getUserId}}
        {{getTeamObject}}

    <button id="createDashboard">Create dashboard</button>

    {{> CreateIntegration}}-->


    <!--
    {{> IntegrationList}}-->


</template>