<template name="Home">

    <!-- Hero Bloc -->
    <div id="hero-bloc" class="bloc hero bg-citysky bgc-1 l-bloc" style="height: 100vh; width: 100vw;">
        <div class="v-center text-center">
            <div class="vc-content">
                <h1 class="">
                    Office Analysis as a Service
                </h1>

                <h3 class="">
                    Analyse your office or workplace with dashboards and reports!
                </h3><br/><br/><br/>
                {{#if currentUser}}
                    <a href="/integrations" class="btn-wire btn btn-xl">Manage integrations</a>
                {{else}}
                    <a href="/register" class="btn-wire btn btn-xl">Sign up</a>
                {{/if}}
            </div>
        </div>
    </div>
    <!-- Hero Bloc END -->

</template>